{% extends 'base.html.twig' %}

{% block title %}RapportFinanciers index{% endblock %}

{% block body %}
    <h1>RapportFinanciers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rapport_financier in rapport_financiers %}
            <tr>
                <td>
                    <a href="{{ path('app_rapport_financiers_show', {'id': rapport_financier.id}) }}">show</a>
                    <a href="{{ path('app_rapport_financiers_edit', {'id': rapport_financier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="1">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rapport_financiers_new') }}">Create new</a>
{% endblock %}
