{% extends 'base.html.twig' %}

{% block title %}Edit Factures{% endblock %}

{% block body %}
    {{ include('components/_title.html.twig', { content: 'Facture ' ~ facture.id}) }}

    {{ include('factures/_show_components.html.twig') }}

    <h3 class="text-xl font-semibold text-gray-900 dark:text-gray-100 uppercase my-6"> Ajouter un paiement </h3>  

    {{ include('paiements/_form.html.twig')  }}

    {{ include('components/_link.html.twig', {
        content: 'Retour à la liste',
        path: 'app_factures_index'
    }) }}
{% endblock %}
