{% extends 'base.html.twig' %}

{% block title %}Créer une facture{% endblock %}

{% block body %}
    <h1>Créer une facture</h1>

    {{ include('factures/_form.html.twig') }}

    <a href="{{ path('app_factures_index') }}">back to list</a>
{% endblock %}
