{% extends 'base.html.twig' %}

{% block title %}Edit CatServices{% endblock %}

{% block body %}
    {{ include('components/_title.html.twig', {content: 'Modifier la catégorie' ~ cat_service.nom }) }}

    {{ include('cat_services/_form.html.twig', {'button_label': 'Modifier'}) }}
    
    {{ include('cat_services/_delete_form.html.twig', { 
        cat_service_id: cat_service.id,
        cat_service_name: cat_service.nom,
        labelButton: 'Supprimer',
        classButton: "my-3 text-white bg-primary-500 border-0 py-2 px-8 focus:outline-none hover:bg-primary-600 rounded text-lg mr-3",
        classForm: "inline-block"
        }) 
    }}

    <a href="{{ path('app_cat_services_index') }}" class="block font-medium text-blue-600 dark:text-blue-500 hover:underline">Liste des catégories</a>
{% endblock %}
