{% extends 'base.html.twig' %}

{% block title %}New Interractions{% endblock %}

{% block body %}
    <h1>Create new Interractions</h1>

    {{ include('interractions/_form.html.twig') }}

    <a href="{{ path('app_interractions_index') }}">back to list</a>
{% endblock %}
