{% extends 'base.html.twig' %}

{% block title %}Créer un produit{% endblock %}

{% block body %}
    <h1>Créer un produit</h1>

    {{ include('services/_form.html.twig') }}

    <a href="{{ path('app_services_index') }}">Annuler</a>
{% endblock %}
