{% extends 'base.html.twig' %}

{% block title %}Créer un produit{% endblock %}

{% block body %}
    <h1 class="font-bold uppercase text-2xl my-5 border-b-black border-b-2">Créer un produit</h1>

    {{ include('services/_form.html.twig') }}

    {{ include('components/_link.html.twig', {
        path: "app_cat_services_new",
        content: "Créer une catégorie"
    }) }}
    
    {{ include('components/_link.html.twig', {
        path: "app_services_index",
        content: "Liste des produits"
    }) }}
{% endblock %}
