{% extends 'base.html.twig' %}

{% block title %}Edit Lots{% endblock %}

{% block body %}
    <h1>Edit Lots</h1>

    {{ include('lots/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_lots_index') }}">back to list</a>

{% endblock %}
