{% extends 'base.html.twig' %}

{% block title %}Edit Relances{% endblock %}

{% block body %}
    <h1>Edit Relances</h1>

    {{ include('relances/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_relances_index') }}">back to list</a>

    {{ include('relances/_delete_form.html.twig') }}
{% endblock %}
