{% extends 'base.html.twig' %}

{% block title %}New Relances{% endblock %}

{% block body %}
    <h1>Create new Relances</h1>

    {{ include('relances/_form.html.twig') }}

    <a href="{{ path('app_relances_index') }}">back to list</a>
{% endblock %}
