<!DOCTYPE html>
<html lang="fr" {% if app.user and app.user.getThemecolor() == 'dark' %}class="dark"{% endif %} {% if app.user and app.user.getThemecolor() == 'blue' %}class="bleu"{% endif %}>
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>

  {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
  {% block stylesheets %}
    <link href="{{ asset('build/app.css') }}" rel="stylesheet">
    
    {{ encore_entry_link_tags('app') }}
  {% endblock %}

  </head>

  <body class="bg-color4-100 dark:bg-background-dark-mode-950 dark:text-text-dark-mode-200">
      {%if app.user %}
      {% include 'components/_nav.html.twig' %}
      {% endif %}
      <main class="{%if app.user %}p-4 sm:ml-64{% endif %}">
        <div class="{%if app.user %}p-4{% endif %}">
        {% block body %}
          
        {% endblock %}
          </div>
      </main>
  </body>
</html>

<script src="{{ asset('build/main.js') }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      // Sélectionne tous les boutons qui ont l'attribut data-collapse-toggle
      const dropdownButtons = document.querySelectorAll('[data-collapse-toggle]');

      dropdownButtons.forEach(button => {
          button.addEventListener('click', function () {
              // Récupère l'ID de l'élément à toggler
              const targetId = button.getAttribute('aria-controls');
              const targetElement = document.getElementById(targetId);

              // Toggle la classe hidden
              if (targetElement.classList.contains('hidden')) {
                  targetElement.classList.remove('hidden');
              } else {
                  targetElement.classList.add('hidden');
              }
          });
      });
  });

</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      const sidebar = document.querySelector('aside');
      const toggleButton = document.getElementById('sidebar-toggle');

      toggleButton.addEventListener('click', function () {
          sidebar.classList.toggle('-translate-x-full');

          // Change the icon based on sidebar state
          if (sidebar.classList.contains('-translate-x-full')) {
              toggleButton.textContent = '☰'; // Icon for closed sidebar
          } else {
              toggleButton.textContent = '✕'; // Icon for opened sidebar
          }
      });
  });
</script>