<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}

  </head>
  
  <body class="bg-color4-100">
    {%if app.user %}
     {% include 'components/_nav.html.twig' %}
    {% endif %}
    <main class="{%if app.user %}p-4 sm:ml-64{% endif %}">
      <div class="{%if app.user %}p-4{% endif %}">
      {% block body %}
        
      {% endblock %}
        </div>
    </main>
    <script src="{{ asset('build/main.js') }}"></script>
     <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Sélectionne tous les boutons qui ont l'attribut data-collapse-toggle
            const dropdownButtons = document.querySelectorAll('[data-collapse-toggle]');

            dropdownButtons.forEach(button => {
                button.addEventListener('click', function () {
                    // Récupère l'ID de l'élément à toggler
                    const targetId = button.getAttribute('aria-controls');
                    const targetElement = document.getElementById(targetId);

                    // Toggle la classe hidden
                    if (targetElement.classList.contains('hidden')) {
                        targetElement.classList.remove('hidden');
                    } else {
                        targetElement.classList.add('hidden');
                    }
                });
            });
        });

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sidebar = document.querySelector('aside');
            const toggleButton = document.getElementById('sidebar-toggle');

            toggleButton.addEventListener('click', function () {
                sidebar.classList.toggle('-translate-x-full');

                // Change the icon based on sidebar state
                if (sidebar.classList.contains('-translate-x-full')) {
                    toggleButton.textContent = '☰'; // Icon for closed sidebar
                } else {
                    toggleButton.textContent = '✕'; // Icon for opened sidebar
                }
            });
        });
    </script>
  </body>
</html>
