{# Composant qui rend un input avec son label, ses erreurs et son helper text #}
{# Il prend 2 paramètres :
    - field : le champ du formulaire
    - label : le label de l'input
    - placeholder : le placeholder de l'input (optionnel)
 #}
<div class="mb-3">
    {{ form_label(field, label, {'label_attr': {'class': 'block text-gray-700 text-lg font-bold mb-2'}}) }}
    {{ form_errors(field, { 'template': 'form/form_errors.html.twig' }) }}
    {{ form_widget(field, {'attr': {
        'class': 'w-2xl shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline ',
        'placeholder': placeholder|default('')
    } }) }}
    {{ form_help(field, {'help_attr': {'class': '' } }) }}
</div>