{# Composant lien, permet d'harmoniser tous les liens #}
{# Prends 2 paramètres : 
    - path : le chemin de redirection du lien
    - content : le contenu du lien
 #}

<a href="{{ path }}" class="block font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ content }}</a>