{# Composant button de soumission des formulaire, permet d'harmoniser tous les buttons #}
{# Prends 1 paramètre : 
    - content : le contenu du bouton 
 #}

<button class="bg-primary-500 hover:bg-primary-600 text-white dark:bg-element-dark-mode-900 dark:hover:bg-element-dark-mode-700 bleu:bg-bleu-theme-700 my-3 border-0 py-2 px-8 rounded text-lg mr-3">{{ content|default('Envoyer') }} </button>