{# Composant h1, permet d'harmoniser tous les titre h1 #}
{# Prends 1 paramètre : 
    - content : le contenu du titre
 #}
<h1 class="font-bold uppercase text-2xl my-5 border-b-black border-b-2">{{ content }}</h1>