{% extends 'base.html.twig' %}

{% block title %}Edit Clients{% endblock %}

{% block body %}
    <h4 class="text-center text-3xl">Modifier le client</h4>

    {{ include('clients/_form.html.twig', {'button_label': 'Modifier'}) }}
    
    {{ include('components/_link.html.twig', {
        path: "app_clients_index",
        content: "Liste des clients"
    }) }}

    {{ include('components/_link.html.twig', {
        path: "app_lots_new",
        content: "Ajouter un lot"
    }) }}
{% endblock %}
