{% extends 'base.html.twig' %}

{% block title %}New Clients{% endblock %}

{% block body %}
    <h4 class="text-center text-3xl">Ajouter un nouveau client</h4>
    test
    test
    test
    {{ include('clients/_form.html.twig') }}
    <a href="{{ path('app_clients_index') }}">Retour a la liste des clients</a>

{% endblock %}
